.box {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: 400px;
}

.window_chat {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.inner_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.message {
    word-wrap: break-word;
    margin: 20px 0px;
    width: 70%;
    border-radius: 20px;
    align-self: center;
}

.useName {
    font-size: 15px;
    font-family: sans-serif;
    padding: 0px 20px;
    color: brown;

}

.messDate {
    padding: 0px 20px;
    font-size: 12px;
    color: brown;
    font-family: sans-serif;
    border-bottom: 1px dotted;
}

.useMessage {
    font-family: sans-serif;
    font-size: 15px;
    padding: 0px 20px;
}

.autorize {
    width: 35%;
    background-color: beige;
    padding: 10px 20px;
    height: 50%;
    border-radius: 20px;
}

.online_user {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: chartreuse;
    border-radius: 10px;
    border: 1px solid lightblue;
}